<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include('partials/_header') %>
  <% if (userEmail) { %>
    <h4 style="text-align: center; margin-top: 20px;">🤔 It seem like you have already signed in</h4>
    <form style="text-align: center;" action="/logout" method="GET">
      <p><font size = "4">Do you want to</font></p>
      <button type="submit" class="btn btn-primary">Logout ?</button>
    </form>
  <% } else { %>
    <h4 style="margin-top: 20px; margin-left: 16px; margin-bottom: 10px">Register</h4>
      <form style="margin-left: 32px;" action="/register" method="POST">
        <p style="margin-bottom: 0px;">E-mail: </p>
        <input type="email" name="email" placeholder="example@gmail.com" style="width: 200px">
        <p style="color:red"><font size = "1"><% if (err === "Email already registered, please use login instead") {%>Error Code: <%= res %>. Error msg: <%= err %><% } %></font></p>
        <p style="margin-bottom: 0px;">Password: </p>
        <input type="password" name="password" placeholder="password" style="width: 200px">
        <p style="color:red"><font size = "1"><% if (err === "Please enter BOTH email or password") {%>Error Code: <%= res %>. Error msg: <%= err %><% } %></font></p>
        <button style="margin-top: 5px;" type="submit" class="btn btn-primary">Register</button>
      </form>
    <% } %>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
