<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include('partials/_header') %>
  <% if (err && !userEmail) { %>
      <h4 style="text-align: center; margin-top: 20px;">Please <a href='/login'>login<a> first to use this function</h4>
      <form style="text-align: center;" method="GET" action="/u/<%= shortURL %>">
        <p class="card-text">Though, I can still redirect you to the destination.</p>
        <button type="submit" class="btn btn-primary">Go?</button>
      </form>
      <p></p>
  <% } else if (err) { %>
      <h4 style="text-align: center; margin-top: 20px;">It seems like you are not the owner of this link 🤔</h4>
      <form style="text-align: center;" method="GET" action="/u/<%= shortURL %>">
        <p class="card-text">But I can still redirect you to the destination.</p>
        <button type="submit" class="btn btn-primary">Go?</button>
      </form>
      <p></p>
  <% } else { %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
      </div>
      <div class="card-footer text-muted">
        <div class="card-body">
          <h4 class="card-title"><font size ="+3"><b>Edit</b></font></h4>
          <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
            <p class="card-text">New url :
              <input type="text" name="longURL" placeholder="<%= longURL %>" style="width: 300px; ">
              <button style="margin-bottom: 4px;" type="submit" class="btn btn-primary">Submit</button>
            </p>
          </form>
        </div>
      </div>
    </div>
    <p style="text-align: center; color:grey; margin-top: 10px; margin-bottom: 0px;"><font size = "1"><%= uniVisCount %>  different person have visted</font></p>
    <p style="text-align: center; color:grey;"><font size = "1"><%= visitCount %> total visits</font></p>
    <h5 style="text-align: center; color:grey;">Event Log</h5>
    <div style="height:150px; overflow:auto;">
      <% for(let event of Log) { %>
        <p style="text-align: center; color:grey; margin-top: 0px; margin-bottom: 0px;"><font size = "1"><%= event %></font></p>
      <% } %>
    </div>
  <% } %>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
